name: Package Addon

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create Release Zip
        run: zip -r DeltaCDM.zip DeltaCDM/ -x "*.DS_Store*" "*__MACOSX*"
          
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./DeltaCDM.zip
          asset_name: DeltaCDM.zip
          asset_content_type: application/zip
